:root {
	--color: #cbc2fd60;
}

:root[data-color-mode='dark'] {
	--color: #ad9efa60;
}

@mixin reset {
	margin: 0;
	padding: 10px 30px;
}
@mixin bordered($color, $width) {
	border-width: $width;
	border-style: solid;
	border-color: $color;
	border-radius: 10px;
}

@mixin text-setting($size, $color) {
	font-size: $size;
	color: $color;
}

@mixin title {
	background: #dad3ff60;
	width: 100%;
	span {
		@include text-setting(14px, #bdb1fc);
	}
}

.title {
	@include bordered(var(--color), 2px);
	@include reset();
	@include title();
}
