@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	animation: view 0.3s forwards;

	.dark {
		color: lavender !important;
	}
	.light {
		color: black;
	}
}

// code {
// 	@apply border dark:border-dark bg-light dark:bg-dark-foreground text-xs;
// }

// .w-md-editor-toolbar {
// 	@apply bg-light-foreground dark:bg-dark-foreground;
// }

.w-md-editor-preview {
	@apply bg-light-foreground dark:bg-dark;
}

.w-md-editor-toolbar {
	ul {
		li {
			button {
				@apply w-[40px] h-[40px] flex items-center justify-center flex-col;
				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
.wmde-markdown {
	@apply prose-h2:prose-2xl flex flex-col gap-5 bg-light-foreground dark:bg-dark;
	blockquote {
		@apply border-l border-l-4 border-l-gray-500 bg-gray-500/20 py-2 rounded-r;
		font-family: 'Inter', sans-serif;
		p {
			@apply font-medium text-gray-600 dark:text-gray-400;
			background-color: transparent !important;
		}
	}
	h2 {
		@apply bg-light-foreground dark:bg-dark m-0;
	}
	pre {
		@apply border dark:border-dark;
		code {
			font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
				Liberation Mono, monospace !important;
		}
	}
	ul {
		@apply list-disc;
	}
	p {
		@apply bg-light-foreground dark:bg-dark m-0;
		img {
			@apply rounded-xl w-full lg:w-1/2 object-fill bg-light-foreground dark:bg-dark;
		}
	}
}
html {
	height: 100vh;
	font-family: 'Onest', sans-serif;
}

html {
	@apply dark:bg-dark bg-light-foreground;
}

#root,
body {
	width: 100%;
	height: 100% !important;
	@apply text-black dark:text-white;
}
